html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.main-header{
    background: url(../img/landscape2.jpg) center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.header-container{
    background-color: rgb(255, 255, 255);
    color:  rgb(141, 141, 141);
    width: 100%;
    display: flex;
    font: 15px;
    position: fixed;
    align-items: center;
    font-weight: 500;
    top: 0;
    z-index: 100;
}

.header-container h1{
    margin-left: 20px;
    transform: rotate(-3deg);
}

.navbar{
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    color: rgb(61, 61, 61);
}

.header-container a{
    text-decoration: none;
    color: rgb(141, 141, 141);
}

.header-container2{
    position: relative;
    width: 450px;
    height: 230px;
    top: 30%;
    left: 53%;
}

.card{
    padding: 0;
    position: absolute;
    color: white;
    text-align: center;
    background-color: rgba(82, 82, 82, 0.6);
    font-size: 40px;
}

.btn {
    box-sizing: border-box;
    padding: 0.9em 1.4em;
    background-color: rgba(255, 170, 11, 0.9);
    border-radius: 15px;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    transition: all ease 0.2s;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about{
    background-color: rgb(245, 245, 245);
    color: rgb(92, 92, 92);
    padding-top: 90px;
    padding-bottom: 10px;
}

.tb{
	position: relative;
}

.photo
{
    display: inline-block;
	text-align: center;
	padding: 5px;
    width: 484px;
    height: 323px;
}

.overlay{
    position: absolute;
    width: 484px;
    height: 323px;
}

.overlay .link{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #27a38d;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.overlay:hover .link{
    opacity: 0.7;
}

.overlay a{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 80px;
}
